body {

}

.link {
	width: 100%;
	height: 100px;
	border: 1px solid rgb(143,163,181);
	cursor: pointer;
}

.link-image {
	display: inline-block;
	background-size: cover, auto;
	background-position: 50% 50%, 50% 50%;
	width: 100px;
	height: 100px;
}

.link-title {
	text-decoration: none;
	color: rgb(0,0,0);
}

.link:hover .link-title {
	color: rgb(80,188,182)
}

.link-text-container {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}