body {
	font-family: "Helvetica Neue";
	font-size: 13px;
}

a {
	text-decoration: none;
	color: rgb(0,0,0);
}

a:visited {
	color: rgb(0,0,0);
}

a:hover {
	color: rgb(80,188,182);
}

.btn {
	cursor: pointer;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-weight: bold;
}

.hollow {
	background: white;
}

.warning {
	background-color: rgb(255,194,3);
}

.page-container {
	display: flex;
}

.sidebar {
	width: 20%;
	display: flex;
	flex-direction: column;
}

.sidebar > a {
	display: block;
	margin: 10px auto;
	font-weight: bold;
	font-size: 1.3em;
}

.card {
	display: flex;
	width: 100%;
	height: 100px;
	/* dark gray */
	border: 1px solid rgb(143,163,181);
	cursor: pointer;
	margin-bottom: 10px;
}

.card-image {
	display: block;
	background-size: cover, auto;
	background-position: 50% 50%, 50% 50%;
	width: 100px;
	height: 100px;
}

.card-info {
	align-self: center;
	flex: 2 0 60%;
	margin-left: 10px;
}

.card-toolbar {
	align-self: center;
	flex: 0 0 20%;
	margin: 0 auto;
	/* for popover positioning */
	position: relative;
	display: inline-block;
}

.toolbar-icon {
	border: 0;
	background: 0;
	outline: none;
	font-size: 1em;
	outline: none;
	cursor: pointer;
}

.toolbar-icon.fade {
	opacity: 0;
	transition: opacity .2s linear;
}

.card:hover .toolbar-icon {
	opacity: 100;
}

.card-domain {
	color: rgb(178,170,170);
}

.gold {
	color: rgb(255,194,3);
}

.gray {
	color: rgb(143,163,181);
}

.popover {
  background-color: white;
  border-radius: 5px;
  top: 27px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: none;
  left: -65px;
  padding: 15px;
  position: absolute;
  width: 150px;
  z-index: 4;
  text-align: center;
}

/* triangle pointer above popover */
.popover:after {
	border-width: 8px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #ccc;
  top: -17px;
  margin-left: -8px;
  left: 50%;
  content: '';
  display: block;
  position: absolute;
}

.visible {
  display: block;
}

.marginTop0 {
	margin-top: 0;
}
